*{
    margin: 0;
    padding: 0;
}
.card-img-top{
    height:509px;
    width: 779px;
    padding-left: 0;
}
.form{
    float: right;
  height: 500px;
  width: 529px;
  margin-right: 20px;
  margin-left: 0px;
  
  background-color: rgb(183,235,52);
}
